
/* BOOTSTRAP
#container{
  border: solid blue 6px;
  max-width: 55em;
}

.col{
  border: solid maroon 1px;
  height: 6em;
  width: 6em;
  max-width: 6em;
} */

.grid{
  border: solid maroon 6px;
}

.cell{
  border: solid pink 2px;
  height: 3em;
  width: 10em;
}
